h1 {
    margin-left: 25px;
    margin-top: 25px;
    color: black;
    font-style: normal;
    font-family: Barlow;
}

h2 {
    margin-left: 25px;
    margin-top: 25px;
    color: black;
    font-weight: 350;
    font-style: italic;
    font-family: Barlow;
}

h3 {
    margin-left: 25px;
    margin-top: 5px;
    color: black;
    font-style: initial;
    font-family: Barlow;
    font-weight: 200
}

h4 {
    margin-left: 33px;
    margin-top: 35px;
    color: black;
    font-style: initial;
    font-family: Barlow;
    font-weight: 400;
}

div {
    display: flex;
}

.welcome {
    width: 400px;
    text-align: justify; /* Blocksatz */

}

.eingaben {
    font-family: Barlow;
    font-size: small;
    margin-left: 25px;
    color: gray;
    background-color: black;
    padding: 5px;
    border-radius: 6px;
    border-style: solid;
    border-color: black;
    height: 35px;
    width: 300px;
}

.eingaben:hover {
    font-family: Barlow;
    font-size: small;
    margin-left: 25px;
    border-color: black;
    color: black;
    background-color: white;
    border-radius: 6px;
}

.button_a {
    font-family: Barlow;
    margin-left: 23px;
    letter-spacing: 1px;
    border: none;
    background: white;
    color: gray;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s ease 0s; /* Übergangsdauer und "smoothness" */
}
.button_a:hover {
    color: black;
    font-weight: 700;
    letter-spacing: 8.5px;
}

.button_b {
    font-family: Barlow;
    margin-left: 23px;
    border: none;
    background: white;
    color: gray;
    text-transform: uppercase;
    display: inline-block;

}
.button_b:hover {
    color: black;
    font-weight: 700;

}

.button_c {
    font-family: Barlow;
    border: none;
    background: none;
    color: gray;
    text-transform: uppercase;
    position: fixed;  /* auch beim Scrollen immer am selben Ort */
    top: 21px;
    right: 47px;


}
.button_c:hover {
    color: black;
    font-weight: 700;

}

.footer {
     font-family: Barlow;
     position: fixed;
     bottom: 12px;
     right: 15px;
}

.schrift_standard {
    font-family: Barlow;
    font-weight: 500;
    color: black
}

ul.wunschliste {
    list-style-type: none;
    font-family: Barlow;
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 5px;
    color: black;
    font-style: initial;
    font-weight: 600;
    font-size: x-large;
}

li.wuensche, ul.wuensche {
    list-style-type: none;
    font-family: Barlow;
    margin-left: 10px;
    margin-top: 10px;
    color: black;
    font-style: initial;
    font-weight: 300;
    font-size: medium;
}

.selector{
    font-family: Barlow;
    font-size: small;
    border-radius: 6px;
    border-color: black;
    color: gray;
    background: black;
    margin-left: 25px;
    height: 48px;
    width: 313px;
}

input[type="checkbox"] + label{
    font-family: Barlow;
    color: black;
    font-weight: 350;
}

input[type="checkbox"]:checked + label{
    font-family: Barlow;
    color: gray;
    text-decoration: line-through;
    font-weight: 150;
}

.warnung {
    font-family: Barlow;
    color: #F1948A;
    font-size: small;
    margin-left: 27px;
}

.check_save {
    font-family: Barlow;
    border-radius: 8px;
    border-color: black;
    border-width: 1px;
    background: white;
    margin-top: 10px;
    margin-botton: 10px;
    margin-left: 55px;
    letter-spacing: 2px;
    color: gray;
    font-weight: 150;
    font-size: medium;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.check_save:hover {
    color: black;
    font-weight: 450;
    letter-spacing: 7px;
}

.arrow{
    position: fixed;
    top: 9px;
    right: 15px;,
    width: 70px;
    height: 70px
}

.arrow_back{
    -o-transform: scaleX(-1); /* Pfeil Spiegeln - Info für ältere Browser-Versionen */
    transform: scaleX(-1);  /* Pfeil Spiegeln */
    position: fixed;
    top: 9px;
    right: 79px;,
    width: 70px;
    height: 70px
}


/*
QUELLEN
https://www.fabriziovanmarciano.com/button-styles/#
http://www.css4you.de/Texteigenschaften/text-decoration.html
*/
