<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Eintrag</title>
    <link rel="stylesheet"
          href="../static/main.css"/>

</head>
<body>

    <h1>THE WISHENDER</h1>
    <h2>*Name der Liste*</h2>

    <form method="POST">
        <p><input type="text" name="produkt" placeholder="Bitte geben Sie den Produktenamen ein"></p>
        <p><input type="text" name="link" placeholder="Bitte geben Sie eine URL ein"></p>
        <button class="example_e" >Zur Liste hinzufügen</button>
    </form>
    <br/>
    <ul class="produkt">
        <li>PRODUKT 01
            <ul class="url">
                <li>URL zum Produkt</li>
            </ul>
        </li>
        <br/>
        <li>PRODUKT 02
            <ul class="url">
                <li>URL zum Produkt</li>
            </ul>
        </li>
        <br/>
        <li>PRODUKT 03
            <ul class="url">
                <li>URL zum Produkt</li>
            </ul>
        </li>
    </ul>

</body>
</html>