<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Eintrag</title>
    <link rel="stylesheet"
          href="../static/main.css"/>

</head>
<body>

    <h1>THE WISHENDER</h1>
    <h2> Name der Liste </h2>

    <form method="POST">
        <p class = schrift_standard>
            <input class = schrift_standard type="text" name="produkt" placeholder="Bitte geben Sie den Produktenamen ein"> PRODUKT </p>
        <p class = schrift_standard>
            <input class = schrift_standard type="text" name="link" placeholder="Bitte geben Sie den Preis in CHF ein"> CHF</p>
        <button class="example_e" >Zur Liste hinzufügen</button>
    </form>
    <br/>
    <!-- <ul class="produkt">
        <li>PRODUKT 01
            <ul class="preis">
                <li>Preis</li>
            </ul>
        </li>
        <br/>
        <li>PRODUKT 02
            <ul class="preis">
                <li>Preis</li>
            </ul>
        </li>
        <br/>
        <li>PRODUKT 03
            <ul class="preis">
                <li>Preis</li>
            </ul>
        </li>
    </ul> -->

    <ul class="produkt">
        <li>{{PRODUKT 01}}
            <ul class="preis">
                <li>{{Preis}}</li>
            </ul>
        </li>
        <br/>
        <li>{{PRODUKT 02}}
            <ul class="preis">
                <li>{{Preis}}</li>
            </ul>
        </li>
        <br/>
        <li>{{PRODUKT 03}}
            <ul class="preis">
                <li>{{Preis}}</li>
            </ul>
        </li>
    </ul>

</body>

<footer class="footer">
<span>&#169 Alexander Bräuning</span>
</footer>

</html>