<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Eintrag</title>
    <link rel="stylesheet"
          href="../static/main.css"/>

</head>
<body>

    <h1>THE WISHENDER</h1>
    <h2> Ihre Wunschlisten </h2>
    <br/>

    <ul>
        {% for key1, list in listen.items() %}
            <ul class="wunschliste">{{ key1 }}</ul>
            {% for key2, wunsch in list.items()%}
                <li class="wuensche"> {{key2}}: {{ wunsch }}</li>
            {% endfor %}
        {% endfor %}
    </ul>

    <br/>

</body>

<footer class="footer">
<span>&#169 Alexander Bräuning</span>
</footer>

</html>