<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Eintrag</title>
    <link rel="stylesheet"
          href="../static/main.css"/>

</head>
<body>

    <h1>THE WISHENDER</h1>
    <h2> Ihre Wunschlisten </h2>

    <form method="POST">
        <input class="button_c" name="action" type="submit" value="Zur Startseite">
    <li class="wuensche">
        {% for key1, wuensche in listen.items() %}
            <ul class="wunschliste"> {{ key1 }} </ul>
            {% for key2, wunsch in wuensche.items()%}
                {% if wunsch != "" %} <!-- Sofern der Wunsch nicht leer ist, wird er aufgelistet -->
                    <ul class="wuensche">
                        {% if wunsch in erfuellt %}
                            <input type="checkbox" name="haken" value="{{ wunsch }}" checked>
                            <label> {{key2}}: {{ wunsch }} </label> </ul>
                        {% else %}
                            <input type="checkbox" name="haken" value= "{{ wunsch }}">
                            <label> {{key2}}: {{ wunsch }} </label> </ul>
                        {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </li>

        <input class="check_save" name="action" type="submit" value="speichern">
    </form>
    <br/>
    <!-- <p>{{ checkbox }}</p> hier wird optisch überprüft was abgehakt ist resp. bleiben soll-->
    <br/>
</body>

<footer class="footer">
<span>&#169 Alexander Bräuning</span>
</footer>

</html>