<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Startseite</title>
    <link rel="stylesheet"
          href="../static/main.css"/>
</head>
<body>

    <h1>THE WISHENDER</h1>
    <h3 class="welcome">Willkommen beim Wishender.
        Erstellen Sie eine Liste und tragen Sie ihre Wünsche ein. </h3>

    <br/>

    <p class ="warnung"> {{ warnung }} </p>
    <form method="GET">
        <p> <select id="liste_auswahl" name="liste_auswahl" class="selector">
            <option selected>Besteht die Liste bereits?</option>
                {% for key, list in listen.items() %}
                    <option value="listen">{{ key }}</option>
                {% endfor %}
         </select> </p>
        </form>
        <form method="POST">
        <p><input type="text" class="eingaben" name="liste" placeholder=" Für wen ist die Liste?"> </p>
        <p><input type="text" class="eingaben" name="wunsch01" placeholder=" Was wünscht sich diese Person am meisten?"></p>
        <p><input type="text" class="eingaben" name="wunsch02" placeholder=" Und sonst so?"></p>
        <p><input type="text" class="eingaben" name="wunsch03" placeholder=" Weitere Wünsche?"></p>
        <p><input type="text" class="eingaben" name="wunsch04" placeholder=" Weitere Wünsche?"></p>
        <button class="example_a" type="submit">Liste erstellen</button>
    </form>
    <br/>

<footer class="footer">
<span>&#169 Alexander Bräuning</span>
</footer>

</body>
</html>