<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Startseite</title>
    <link rel="stylesheet"
          href="../static/main.css"/>
</head>
<body>

    <h1>THE WISHENDER</h1>
    <h3 class="welcome">Willkommen beim Wishender. Erstellen Sie eine Liste zum Eintrage Ihrer Wünsche
        oder bearbeiten Sie eine der bestehenden Listen. Viel Spass. -Alex</h3>

    <form method="POST">
        <p><input class="inputs" type="text" name="Liste" placeholder=" Wie soll die Liste heissen?"></p>
        <button class="example_a" >Liste erstellen</button>
    </form>
    <br/>
    <br/>
    <form method="GET">
        <p><button class="example_b" >Liste 01</button> <button type="reset" class="reset"> X </button> </p>
        <br/>
        <p><button class="example_b" >Liste 02</button> <button type="reset" class="reset"> X </button></p>
        <br/>
        <p><button class="example_b" >Liste 03</button> <button type="reset" class="reset"> X </button></p>
    </form>

</body>
</html>