<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Startseite</title>
    <link rel="stylesheet"
          href="../static/main.css"/>

</head>
<body>

    <h1>THE WISHENDER</h1>
    <h3 class="welcome">Willkommen beim Wishender. Erstellen Sie eine Liste zum Eintrage Ihrer Wünsche
        oder bearbeiten Sie eine der bestehenden Listen. Viel Spass. -Alex</h3>

    <form method="POST">
        <p><input type="text" name="Liste" placeholder="Erstellen Sie eine Liste"></p>
        <button class="example_e" >Liste erstellen</button>
    </form>

</body>
</html>