
h1 {
    margin-left: 25px;
    margin-top: 25px;
    color: black;
    font-style: normal;
    font-family: Barlow,sans-serif;
}
h3 {
    margin-left: 25px;
    margin-top: 5px;
    color: black;
    font-style: initial;
    font-family: "DIN 2014",sans-serif;
    font-weight: 200
}
.welcome {
    width: 400px;
    text-align: justify;

}
input {
    margin-left: 25px;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 6px;
    border-style: solid;
    border-color: white;
    height: 30px;
    width: 250px;
}
input:hover {
    margin-left: 25px;
    border-color: black;
    color: black;
    background-color: white;
    border-radius: 6px;
}

.example_e {
    margin-left: 18px;
    border: none;
    background: white;
    color: gray !important;
    padding: 15px;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

.example_e:hover {
    margin-left: 18px;
    color: black !important;
    background: none;
    font-weight: 700 !important;
    letter-spacing: 3.7px;
    transition: all 0.3s ease 0s;
}